

/* Centered text Jumbotron*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  
/* filter table */



/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

